<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <!-- spectre-css -->
    <link href="/static/css/spectre.css" rel="stylesheet">
</head>
<body>
    {{ template "navbar.html" .}}

</body>
</html>